*{
    font-family:'Times New Roman', Times, serif;
}
nav {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px;
}
nav a{
    color:white;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
h1,p{
    text-align: center;
}
nav a:hover{
    border-radius: 10px;
    color: yellow;
    background-color: blue;
    
}
body{
   background: linear-gradient(to right,lightblue,white,lightpink);
}

form{
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30vh auto;
}
label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input{
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 20px;
}
input[type="submit"]{
    background-color:#0d6efd;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    /* font-weight: bold; */
    text-decoration: none;
}
input[type="submit"]:hover{
    transform: scale(1.01);
}
.alc{
    font-size: large;
    font-weight: bold
}
p a{
    padding: 5px 10px;
    margin:10px;
    text-decoration: none;
}
.already{
    /* border: 2px solid black; */
    text-decoration: underline;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    border: 2px solid black;
}

th{
    text-align: center;
    font-weight: bold;
    background-color: rgb(169, 234, 234);
    
}
td{
    text-align: center;
}
th,td{
    padding: 10px;
    border: 2px solid black;
    font-size:large;
}

tr:nth-child(even){
    background-color: rgb(169, 234, 234);
}

.dash{
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:40px auto;
}
.dash a{
    background:#0d6efd;
    color: white;
    border-radius: 5px;
    padding: 10px;
}